*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    text-align: center;
    }

    span{
        color:#d64292
    }

section{
    margin-top: 3rem;
    font-size: large;
}
label{
    font-size:1.5rem;
    font-weight: 700;
}
input{
    margin-left: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color:#202020 ;



}


button{
    margin-left: 2rem;
    outline: none;
    border: none;
    height: 2rem;
    width: 7.4rem;
    background-color: #d64292;
    color: #fff;
    font-family: monospace;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    transition: 0.8s all ease-in-out;
    border-radius: 10px;
}
button:hover{
width: 9rem;
height: 2.3rem;
color:#d64292;
background-color: #fff;
}

.color-pallate{
display: flex;
  flex-wrap: wrap;
}

.color{
    flex: 5;
   margin: 2rem 0;
 
  
}


.colorBoard{
    padding: 6rem;
}
